/* COLORS */

:root {
  --primary-color: #FAF5F2;
  --secondary-color: #E2FBF1;
  --button-color: #DFF4F4;
  --text-color: #000000;
}

.container-sounds {
  background-color: var(--primary-color);
  color: var(--text-color);
}


/* .figure {} */
