/* Page game */
.game-main {
  display: flex;
  flex-wrap: wrap;
  padding: 120px 0px 50px 0px;
}

.game-main figure {
  display: flex;
  flex: 0 1 calc(33% - 100px);
  align-items: start;
}

.game-image1,
.game-image2,
.game-image3,
.game-image4,
.game-image5,
.game-image6 {
  width: 150px;
  height: 150px;
}

.game-text h2,
.game-text p {
  margin: 0px 0px 0px 10px;
  font-size: 18px;
}

.game-text p {
  margin: 10px 0px 0px 10px;
  font-size: 14px;
}
