@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* COLORS */

:root {
  --primary-color: #FAF5F2;
  --secondary-color: #E2FBF1;
  --button-color: #DFF4F4;
  --text-color: #000000;
}

html {
  font-family: 'Open Sans', sans-serif;
}



/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */




body {
  background-color: var(--primary-color);
}
