/* COLORS */

:root {
  --primary-color: #FAF5F2;
  --secondary-color: #E2FBF1;
  --button-color: #DFF4F4;
  --text-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  /* font-size: 20px; */
}


/* MENU.HTML */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 70px; */
  z-index: 10;
}

.menu {
  width: calc(100% / 3)
}

.menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 0;
  font-size: 16px;
}

.menu__hyperlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__languages {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 0px 20px;
  right: 0;
}

.menu__pages {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.menu__hyperlinks a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px 0 10px;
}

.a:hover {
  color: #00B1CB;
}

/* MENU MAIN */
.main__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .main__menu {
    /* margin-top: 100px; */
  }
}

@media (min-width: 1200px) {
  .main__menu {
    flex-direction: row;
    margin-top: 120px;
  }
}


.figure-image .image {
  height: 100%;
  height: 300px;
  width: 100%;
  /* padding-bottom: 15px; */
  border-radius: 5px;
  border-radius: 5px;
  background-color: white;
}

.figure-image {
  width: 70%;
}

@media (min-width: 768px) {
  .figure-image {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .figure-image {
    width: calc(100% / 3);
  }
}

/* .figure-image01 {
  padding-top: 20%;
}

@media (min-width: 768px) {
  .figure-image01 {
    padding-top: 0;
  }
} */


/* FOOTER */

.footer {
  width: 100%;
  bottom: 0;
  background-color: var(--button-color);
  font-size: 12px;
  height: 80px;
}

.footer__copyright {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.footer__copyright--text {
  text-align: right;
}



/* @media (min-width: 1200px) {
  .main {
    flex-direction: row;
  }
} */

.a__main {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  /* width: 70%; */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 300px;
  width: 340px; */
  border-radius: 5px;
}

.logo {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .logo {
    width: 70px;
    height: 70px;
  }
}

/* SOUNDS.HTML */
audio {
  max-width: 100%;
}

.figure-sound .image {
  height: 200px;
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.figure-sound figcaption {
  padding-bottom: 15px;
}

.container-sounds {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .container-sounds {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
  }
}


@media (min-width: 1200px) {
  .figure-sound {
    flex-wrap: wrap;
    /* width: calc(100%/3); */
  }
}

.figure-sound {
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 350px;
  /* height: 300px; */
  text-align: center;
}

@media (min-width: 768px) {
  .figure-sound {
    width: calc(100%/2);
  }
}

@media (min-width: 1200px) {
  .figure-sound {
    width: calc(100%/3);
  }
}

.button__off--container {
  display: flex;
  justify-content: center;
}

.button__off--sounds {
  all: unset;
  /* Resetuje všetky štýly na predvolené hodnoty */
  display: inline-block;
  /* Toto umožní nastaviť padding a iné blokové štýly */
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 30%;
  /* display: block; */
}


/* .figure__sound--morning {
  margin-top: 8rem;
} */

/* HAMBURGER MENU STYLES */

/* Show the hamburger button only on small screens */
.menu__toggle {
  display: none;
}

.menu__hyperlinks {
  display: flex;
}

/* Switch to hamburger menu on small screens */
@media (max-width: 768px) {
  .menu__toggle {
    display: block;
    padding: 10px;
    width: 50px;
  }

  .menu__hyperlinks {
    display: none;
  }

  /* Show the menu when the state showLinks is true (i.e., when the hamburger is clicked) */
  .menu__hyperlinks.show-menu {
    display: flex;
  }
}
