/* COLORS */

:root {
  --primary-color: #FAF5F2;
  --secondary-color: #E2FBF1;
  --button-color: #DFF4F4;
  --text-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* .container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
} */

/* PRIDANE KVOLY FOOTRU */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
}


/* MENU.HTML */

.app-name {
  font-family: 'Kaushan Script', 'Lobster', cursive;
  color: #00B1CB;
  text-align: center;
  padding-left: 7px;
}

.menu__logo {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 768px) {
  .app-name {
    font-size: 40px;
  }
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 70px; */
  z-index: 10;
}

.menu {
  width: calc(100% / 3)
}

.menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  margin: 0;
  font-size: 16px;
}

.menu__hyperlinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__languages {
  position: absolute;
  display: none;
  flex-direction: column;
  padding: 0px 20px;
  right: 0;
}



.menu__hyperlinks a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px 0 10px;
}

.a:hover {
  color: #00B1CB;
}

/* MENU MAIN */
.main__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .main__menu {
    /* margin-top: 100px; */
  }
}

@media (min-width: 1200px) {
  .main__menu {
    flex-direction: row;
    margin-top: 120px;
  }
}


.figure-image .image {
  height: 100%;
  height: 300px;
  width: 100%;
  /* padding-bottom: 15px; */
  border-radius: 5px;
  border-radius: 5px;
  background-color: white;
}

.figure-image {
  width: 70%;
}

@media (min-width: 768px) {
  .figure-image {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .figure-image {
    width: calc(100% / 3);
  }
}

/* .figure-image01 {
  padding-top: 20%;
}

@media (min-width: 768px) {
  .figure-image01 {
    padding-top: 0;
  }
} */


/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: var(--button-color);
  font-size: 12px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 50px;
  padding: 30px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

/* main {
  flex: 1 0 auto;
} */

/* .footer__copyright {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

.footer__copyright--text {
  text-align: right;
} */



/* @media (min-width: 1200px) {
  .main {
    flex-direction: row;
  }
} */

.a__main {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  /* width: 70%; */
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 300px;
  width: 340px; */
  border-radius: 5px;
}

.logo {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .logo {
    width: 70px;
    height: 70px;
  }
}

/* SOUNDS.HTML */
audio {
  max-width: 100%;
}

.figure-sound .image {
  height: 200px;
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.figure-sound figcaption {
  padding-bottom: 15px;
}

.container-sounds {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .container-sounds {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
  }
}


@media (min-width: 1200px) {
  .figure-sound {
    flex-wrap: wrap;
    /* width: calc(100%/3); */
  }
}


.figure-sound {
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 350px;
  /* height: 300px; */
  text-align: center;
}

@media (min-width: 768px) {
  .figure-sound {
    width: calc(100%/2);
  }
}

@media (min-width: 1200px) {
  .figure-sound {
    width: calc(100%/3);
  }
}

.button__off--container {
  display: flex;
  justify-content: center;
}

.button__off--sounds {
  all: unset;
  /* Resetuje všetky štýly na predvolené hodnoty */
  display: inline-block;
  /* Toto umožní nastaviť padding a iné blokové štýly */
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 30%;
  /* display: block; */
}


/* .figure__sound--morning {
  margin-top: 8rem;
} */

/* HAMBURGER MENU STYLES */
/* PRIDAVAM NOVY KOD KTORY MA VYPNUT A ZAPNUT MENU PODLA VELKOSTI ZARIADENIA */

.menu__pages {
  display: none;
}

.menu__pages--mobile {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  position: absolute;
  /* background-color: none; */
  border-radius: 5px;
  margin-left: 60%;
  font-size: larger;
}

.menu__toggle {
  display: block;
  padding: 10px;
  width: 50px;
}

@media (min-width: 768px) {
  .menu__pages {
    display: flex;
  }

  .menu__pages--mobile {
    display: none;
  }

  .menu__toggle {
    display: none;
  }
}

/* CONTACT STYLES */

.main__contact {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 10%;
}

.menu__github--icon {
  font-size: 5rem;
}

.fa-github {
  /*font-size: 2.5em;*/
  color: var(--text-color);
  margin-right: 20px;
}

.contact__link--github {
  text-decoration: none;
  color: var(--text-color);
  font-size: 30px;
  padding: 10px 20px 0 10px;
}

@media (min-width: 768px) {
  .contact__link--github {
    font-size: 80px;
  }
}

.contact__link--github:hover,
.fa-github:hover {
  color: #00B1CB;
}

/* ABOUT US */


.img__profile {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .img__profile {
    width: 250px;
    height: 250px;
  }
}

.main__aboutus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding-top: 100px;
}

@media (min-width: 768px) {
  .main__aboutus {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 130px;
  }
}

/* // FIGURE ABOUT US  */

.figure__foto--vira,
.figure__foto--mari {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 768px) {

  .figure__foto--vira,
  .figure__foto--mari {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.figure__aboutus--textpart {
  display: flex;
  flex-direction: column;
}

/* STYLOVANI h1 */

.figure__profile--title {
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}

.figure__profile--paragraph {
  text-align: center;
}

/* APP NAME */

.app-name {}

.menu__logo {}
